


<h1><%= @brand.shoe_name() %></h1>

<h3>Select all stores starring this brand:</h3>

<form action="/brands/<%= @brand.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Brand</button>
 </form>

<% if @stores.any?() %>
  <form action="/brands/<%= @brand.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
      <% @stores.each() do |store| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="store_ids[]" value="<%= store.id() %>"><%= store.store_name() %>
        </label>
      </div>
    <% end %>

    <button type="submit">Add stores</button>
    <% end %>
  </form>



<% if @brand.stores().any?() %>
  <h3>Here are all stores that have this brand:</h3>

  <ul>
    <% @brand.stores().each() do |store| %>
      <li><%= store.store_name() %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stores yet!</p>
<% end %>


<a href="/">Return to Main Page</a>
